*{
	@include box-sizing(border-box);
}

.grid-row{
	margin-left: -$gutter;
	overflow: hidden;
	@include clearfix;
}

.column{
	float: left;
}

.fourth{
	width: 25%;
	@include respond-to(small){
		width: 100%;
	}
}


