


// Typography
	
	// fonts
	$headline-font: "adelle-1","adelle-2";
	$body-font: "source-sans-pro-1","source-sans-pro-2";

	// Sizes
	$base-font-size: 16px; // em
	$base-line-height: 1.7;

	// Margins rem
	$base-spacing-em: $base-line-height * $base-font-size;
	$half-spacing-em: $base-spacing-em / 2;
	$dbl-spacing-em: $base-spacing-em * 2;

	$base-spacing-unit: $base-line-height + 0rem;
	$half-spacing-unit: $base-spacing-unit / 2;
	$dbl-spacing-unit: $base-spacing-unit * 2;


// Layout
	$max-width: 1000px;
	
	// Breakpoints
	$break1: 490px;
	$break2: 970px;
	$break3: 1000px;

// Grid
	$gutter: 20px;
	$columns: 16;

// Colors
	$brand: #3ace9b;
	$ltGray: #ccc;
	$medGray: #999;
	$drkGray: #222;

