
// Blog pages
.blog{
	position: relative;
}

.archive-year{
	margin-bottom: $base-spacing-unit;
	margin-bottom: rem($base-spacing-unit);
	border-bottom: 1px solid #ccc;
	@include font(body);
	font-weight: 300;
}

article.blog{
	&:after{
		content: " ";
		border-bottom: 1px solid #999;
		display: block;
		width: 10rem;
		margin: 3rem 18%;
		@include respond-to(medium){
			margin: 3rem 12%;
		}
		@include respond-to(small){
			width: 8rem;
			margin: 3rem auto;
		}
	}
}