
// Blog pages
.blog{
	position: relative;
}

.archive-year{
	margin-bottom: $base-spacing-unit;
	margin-bottom: rem($base-spacing-unit);
	border-bottom: 1px solid #ccc;
	@include font(body);
	font-weight: 300;
}

.archive .post-date{
	float: left;
	position: absolute;
	bottom: 1.2rem;
}

.blog .archive li{
	position: relative;
}

.blog .title{
	padding-left: 6.5rem;
}

.main-title{
	margin-top: 0;
}