// Header
header[role="banner"]{
	background: #f6f6f6;
	border-bottom: 1px solid #ddd;
	position: relative;
	@include clearfix;
	a{
		color: #ccc;
		&:hover{
			color: $brand;
		}
	}
}

.branding{
	padding: 1rem 0;
	@include font(body);
	font-weight: 400;
	float: left;
	margin: 0 0 0 5%;
	min-width: 40%;
	@include respond-to(small){
		float: none;
		text-align: center;
	}
}

// fact Spinner
// .fact-spinner{
// 	padding: $base-spacing-unit / 6 $gutter;
// 	@include fontSize(1);
// 	font-weight: 300;
// 	color: white;
// 	background: lighten($brand,10);
// 	margin-bottom: $base-spacing-unit;
// 	@include transition-property(background);
// 	@include transition-duration(.5s);
// 	@include respond-to(large){
// 		padding: $base-spacing-unit / 6 0;
// 	}
// 	.facts{
// 		margin-bottom: 0;
// 	}
// 	&:hover{
// 		cursor: pointer;
// 		background: $brand;
// 	}
// 	.wrap{
// 		max-width: $max-width;
// 		margin: 0 auto;
// 		position: relative;
// 	}
// }

// .icon-refresh{
// 	cursor: pointer;
// 	position: absolute;
// 	top: -3px;
// 	right: 0;
// 	&:hover{
// 		color: white;
// 	}
// }