// Header
header[role="banner"]{
	border-bottom: $base-spacing-unit / 4 solid #eee;
	position: relative;
	@include clearfix;
	a{
		color: #ccc;
		&:hover{
			color: $brand;
		}
	}
}


.branding{
	@include font(body);
	margin: 0;
	font-weight: 400;
	font-size: px(1.5);
	font-size: 1.5rem;
	float: left;
	padding-top: .5rem;
	@include respond-to(small){
		float: none;
		text-align: center;
	}
}

// fact Spinner
.fact-spinner{
	padding: $base-spacing-unit / 6 $gutter;
	font-size: px(1);
	font-size: 1rem;
	font-weight: 300;
	color: white;
	background: lighten($brand,10);
	margin-bottom: $base-spacing-unit;
	@include transition-property(background);
	@include transition-duration(.5s);
	@include respond-to(large){
		padding: $base-spacing-unit / 6 0;
	}
	.facts{
		margin-bottom: 0;
	}
	&:hover{
		cursor: pointer;
		background: $brand;
	}
	.wrap{
		max-width: $max-width;
		margin: 0 auto;
		position: relative;
	}
}

.icon-refresh{
	cursor: pointer;
	position: absolute;
	top: -3px;
	right: 0;
	&:hover{
		color: white;
	}
}