// Main Nav

nav[role="navigation"]{
	@include clearfix;
	@include respond-to(mediumPlus){
		width: 40%;
		float: right;
		margin-right: 5%;
	}
	ul{
		@include clearfix;
		li{
			float: left;
			text-align: center;
			width: 25%;
			@include clearfix;
			a{
				display: block;
				padding: 1rem 0;
				text-align: center;
			}
		}
	}
}

.about a.about, .work a.work, .blog a.blog{
	color: $brand;
}
