.page-content{
	padding-top: $base-spacing-unit;
	@include clearfix;
}

img{
	vertical-align: bottom;
	max-width: 100%;
	height: auto !important;
}

.btn{
	margin: 1em 0;
	padding: .25em .5em;
	background: $brand;
	display: inline-block;
	color: white;
	text-align: center;
	@include border-radius(5px);
	&.large{
		padding: .5em 1.5em;
		@include respond-to(small){
			width: 100%
		}
	}
	&:hover{
		background: shade($brand, 20);
	}
}

// Figures

.portfolio-img-web{
	background: url('/assets/img/Browser-top.png') no-repeat;
	padding-top: 48px;
	@include background-size();
	img{
		border: 1px solid #737373;
	}
}

figure{
	margin-top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

figurecaption{
	font-size: .875em;
	color: #999;
	font-style: italic;
}

// CSS browser browser

.browser{
	img{
		border-top: 1px solid #666;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
	}
}

.browser-top{
	background-color: #dfdfdf;
	width: 100%;
	padding: 15px 20px 15px 10px;
	border: 1px solid #999;
	@include border-top-radius(10px);
	@include background-image(linear-gradient(#eee, #aaa));
	@include clearfix;

	@include respond-to(small){
		padding: 10px 15px 10px 5px;
	}
}

.browser-btm{
	@include border-bottom-radius(5px);
	padding:15px 0 0;
	@include background-image(linear-gradient(#eee, #aaa));
	border: 1px solid #999;
}

.browser-back, .browser-forward, .browser-refresh{
	font-size: 1.75em;
	color: #666;
	float: left;
	height: 30px;
	width: 5%;
	text-align: center;
	@include text-shadow(#ccc 0 1px 0);
	
	@include respond-to(small){
		height: 20px;
		margin-top: -2px;
		width: 6%;
	}
}

.browser-address{
	background-color: white;
	height: 30px;
	width: 83%;
	border: 1px solid #999;
	float: right;
	@include border-radius(5px);
	@include box-shadow(#999 0 -1px 1px, #ccc 0 1px 0);

	@include respond-to(small){
		height: 20px;
		width: 80%;
	}
}