html{
	@include font(body);
	font-size: 100%;
	line-height: $base-line-height;
	@include respond-to(medium){
		font-size: 112.5%;
	}
	@include respond-to(large){
		font-size: 125%;
	}
}

a{
	text-decoration: none;
	color: $brand;
}

h1, h2, h3{
	@include font(headlines);
	font-weight: 300;
	& small{
		color: $medGray;
	}
}

blockquote {
	margin: $base-spacing-unit 0;
	padding-left: $base-spacing-unit;
	border-left: 8px solid $brand;
	font-size: 1.125em;
	font-size: 1.125rem;
	line-height: 1.4;
	font-weight: 400;
	color: $medGray;
	p{
		font-style: italic;
		font-weight: 400;
		margin: 0;
	}
}

.cite{
	@include font(body);
	margin-top: .5em;
	margin-top: .5rem;
	font-size: 1em;
	font-size: 1rem;
	display: block;
	&:before{
		content:"— ";
	}
}

h1, .h1 {
	font-size: 2.75em;
	font-size: 2.75rem;
	line-height: 1.4;
	@include respond-to(small){
		font-size: 2em;
		font-size: 2rem;
	}
}

h2, .h2 {
	margin: $base-spacing-em auto $half-spacing-em auto;
	margin: $base-spacing-unit auto $half-spacing-unit auto;

	font-size: 1.875em;
	font-size: 1.875rem;

	line-height: 1.4;
	font-style: normal;
}

h3, .h3 {
	font-style: normal;
	font-size: 1.5em;
	font-size: 1.5rem;
	line-height: 1.8;
	margin-top: 1em;
	margin-top: 1rem;
	margin-bottom: .25em;
	margin-bottom: 0.25rem;
}

h4, .h4 {
	margin-top: 1.5rem;
	margin-bottom: 8px;
	margin-bottom: 0.5rem;
	font-style: normal;
	font-weight: 600;
	font-size: 21px;
	font-size: 1.325rem;
}

h5, .h5 {
	margin-top: 1.5em;
	margin-top: 1.5rem;
	margin-bottom: 4px !important;
	margin-bottom: 0.25rem !important;
	font-weight: 700;
	font-style: normal;
	font-size: 1.125em;
	font-size: 1.125rem;
}

h6, .h6 {
	font-size: .9rem;
	margin-top: 1.5em;
	margin-top: 1.5rem;
	margin-bottom: .25em !important;
	margin-bottom: 0.25rem !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	margin: 0 auto $base-spacing-unit auto;
	line-height: $base-line-height;
	font-style: normal;
	&.intro{
		font-size: 1.125em;
		font-size: 1.125rem;
		font-weight: bold;
	}
}

.centered{
	text-align: center;
}

figcaption{
	font-size: .9em;
	font-size: .9rem;
	color: $medGray;
	font-style: italic;
}

.post-date{
	margin-bottom: 0;
	font-weight: 400;
	color: $medGray;
}

.title{
	margin-top: 0;
}




