html{
	@include font(body);
	font-size: $base-font-size; // Set up base size for 
	line-height: $base-line-height;
	@include respond-to(medium){
		font-size: 18px;
	}
	@include respond-to(large){
		font-size: 20px;
	}
}

body{
	@include respond-to(small){
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

p{
	margin: 0;
	&+p{
		text-indent: 1em;
	}
	&.centered{
		text-align: center;
	}
}

a{
	color: $brand;
	text-decoration: none;
	@include transition-property(color, background);
	@include transition-duration(.5s);
}

small{
	@include font-size(.8);
	line-height: 1.2;
}

figure.quote{
	@include font(headlines);
	font-weight: 300;
	color: #999;
	@include font-size(2);
	line-height: 1.4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	&:before{
	}
	blockquote{
		margin: .5em 0 .25em 0;
	}
	@include respond-to(small){
		@include font-size(1.4);
	}
	figcaption{
		text-align: right;
		margin-bottom: 1em;
		@include font-size(1.2);
		&:before{
			content: "— "
		}
	}
}
blockquote{
	color: #999;
	border-left: $base-spacing-unit / 4 solid #ddd;
	p{
		margin: 0 !important;
		padding-left: $base-spacing-unit;
		font-style: italic;
	}
}

// Lists
ul{
	margin: 0;
	padding-left: 2em;
}

// Headings

h1, h2, h3, h4, h5{
	@include font(headlines);
}

.border-bottom{
	border-bottom: 1px solid #ccc;
}

.page-title{
	text-align: center;
}

// Use .h1, .h2, etc classes for size? Regular ones for stying? Need a way to be able to use <h1> consitently without constantly removing margins and paddings and stuff. Things needed when in an article but not as much when it's on its own.

h1, .h1 {
	margin: 0;
	@include font-size(22);
	line-height: 1.4em;
	margin-bottom: 16px;
	margin-bottom: rem(16);
	font-style: normal;
	font-weight: 300;
	@include respond-to(medium){
		@include font-size(30);
		line-height: 1.4em;
	}
	@include respond-to(large){
		@include font-size(32);
		line-height: 1.4em;
	}
}

h2, .h2 {
	margin-top: 1.6666666666666667em;
	margin-bottom: 0.8333333333333334em;
	font-size: 30px;
	line-height: 1.4em;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
}

h3, .h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.8em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h6, .h6{
	margin-bottom: .25em;
	@include font-size(.8);
	font-weight: 300;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 2px;
}
